@import "_variables.scss";

/* Mobile First Breakpoints */
@media screen and (min-width: 1400px) {
    .gallery {
        div{ 
            grid-template-columns: repeat(3, 1fr);
        } 
    }
    .networks a{
        border-left: $solidBorder;
        border-right: $solidBorder;
    }
    #projects {
        .container-fluid{
            .grid-3{
                padding: 65px 70px 20px 0;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .carousel{
        .carousel-item {
            img{
                position: absolute;
                height: auto;
            }
        }
    }
    #gallery {
        .gallery, .video{
            position: relative;
            min-height: 22vw;
            margin: 80px auto;
            width: 80%;
        }
        .video{
            width: 100%;
            padding: 90px;
            background: black;
            background: -moz-linear-gradient(180deg, black 0%, #939393 100%);
            background: -webkit-linear-gradient(180deg, black 0%, #939393 100%);
            background: linear-gradient(180deg, black 0%, #939393 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#939393",GradientType=1);
        }
    }
    .gallery {
        div{ 
            grid-template-columns: repeat(2, 1fr); 
        }
    }
    .networks {
        a{
            border-left: none;
            border-right: none;
        }
    }
    #projects {
        .container-fluid{
            display: grid; 
            grid-template-columns: 2fr 1.5fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 0; 
            grid-template-areas: 
            "grid-1 grid-1 grid-1"
            "grid-2 grid-2 grid-3"; 
        }
    }
}